<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/admin.css" rel="stylesheet">
        <link rel="icon" href="/static/Images/thonk.png">
    </head>
    <body>
        <div>
            <%= users %>
        </div>
        <button id="reset-button">Reset</button>
        <button id="show-users-btn">Show users</button>
        <div id="users">
            
        </div>
    </body>
    <script src="/static/admin.js"></script>
</html>