<!DOCTYPE html>
<html>
<head>
    <title>Stock Ticker</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/scripts/jquery.webticker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="/static/Images/thonk.png">
</head>
<body>

<div class="tint">

    <a id="home" href="/">Home</a>
    <div class="container">
    <ul id="webTicker">
    <li id="Ticker"> HELLO</li>
</ul>
        <div class="roll-container">
            <div class="roll-display">
                <div id="roll-stock"></div>
                <div id="roll-dir"></div>
                <div id="roll-num"></div>
            </div>
            
        </div>
        <ul class="stock-container">
            <li class="stock-element">
                <div id="grain-box">
                    <div class="stock-value" id="Grain"></div>
                    <div class="stock-name">Grain</div>
                </div>
            </li>
            <li class="stock-element">
                <div id="ind-box">
                    <div class="stock-value" id="Industrial"></div>
                    <div class="stock-name">Industrial</div>
                </div>
            </li>
            <li class="stock-element">
                <div id="bonds-box">
                    <div class="stock-value" id="Bonds"></div>
                    <div class="stock-name">Bonds</div>
                </div>
            </li>
            <li class="stock-element">
                <div id="oil-box">
                    <div class="stock-value" id="Oil"></div>
                    <div class="stock-name">Oil</div>
                </div>
            </li>
            <li class="stock-element">
                <div id="silver-box">
                    <div class="stock-value" id="Silver"></div>
                    <div class="stock-name">Silver</div>
                </div>
            </li>
            <li class="stock-element">
                <div id="gold-box">
                    <div class="stock-value" id="Gold"></div>
                    <div class="stock-name">Gold</div>
                </div>
            </li>
        </ul>
        <div id="history-title">Recent Changes</div>
        <div class="history-boxes">
            
            <ul id="roll-history">
                
            </ul>
        </div>
        <div class="player-container">
            <div class="player-name"></div>
            
            <div class="player-money"></div>
            <ul class="player-stocks">
                <li class="player-stock">
                    <div id ="player-grain"></div>
                    <button class="button buy" id="buy-grain">Buy</button>
                    <button class="button sell" id="sell-grain">Sell</button>
                </li>
                <li class="player-stock">
                    <div id="player-industrial"></div>
                    <button class="button buy" id="buy-industrial">Buy</button>
                    <button class="button sell" id="sell-industrial">Sell</button>
                </li>
                <li class="player-stock">
                    <div id="player-bonds"></div>
                    <button class="button buy" id="buy-bonds">Buy</button>
                    <button class="button sell" id="sell-bonds">Sell</button>
                </li>
                <li class="player-stock">
                    <div id="player-oil"></div>
                    <button class="button buy" id="buy-oil">Buy</button>
                    <button class="button sell" id="sell-oil">Sell</button>
                </li>
                <li class="player-stock">
                    <div id="player-silver"></div>
                    <button class="button buy" id="buy-silver">Buy</button>
                    <button class="button sell" id="sell-silver">Sell</button>
                </li>
                <li class="player-stock">
                    <div id="player-gold"></div>
                    <button class="button buy" id="buy-gold">Buy</button>
                    <button class="button sell" id="sell-gold">Sell</button>
                </li>
            </ul>
        </div>
        <div class="others-container">
            
        </div>
    </div>
</div>
</body>
<script>
    var userid = "<%= currentUser._id %>"
</script>
<script src="/static/client.js"></script>
</html>