body {
	background: url(../static/Images/SMALL.png) no-repeat; 
	background-size: 100%;
	text-shadow: 1px 1px 2px black; 
	color: white;
	text-align: center;
	margin-top: 25%;
	font-size: 30px;
}

a {
	color: white;
	text-shadow: 1px 1px 4px black;
	text-decoration:  none;
}
a:hover {
	color: red;
}
#login {
	/*font-size: 30px;*/
}