body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.stock-element {
    display: inline-block;
    width: 16%;
    text-align: center;
}

.container {
    margin: 20px 500px;
    padding: 0px;
}

.roll-container {
    margin: 25px auto;
    width: 100%;
    text-align: center;
}

.roll-container div {
    display: inline-block;
}

.roll-display {
    margin: 0px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

#roll-history {
    padding: 5px;
}