body {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px black; 
    color: white;

}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
a {
    color: white;
    text-shadow: 1px 1px 4px black;
    text-decoration:  none;
}
a:hover {
    color: red;
}

.tint {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    background: rgba(74, 75, 76, 0.7);    
}

.stock-element {
    display: inline-block;
    width: 10%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    margin:0;
    padding: 0;
}

.stock-container {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
    text-align: center;
}

.roll-container {
    margin: 25px auto;
    text-align: center;
}

.history-boxes {
    margin: 25px auto;
    text-align: center;
}

.roll-container div {
    display: inline-block;
}

.roll-display {
    margin: 0px;
    padding: 5px;
    width: 90%;
    text-align: center;
}

#roll-history div {
    padding: 5px;
    display: inline-block;
}
.player-money {
    margin-top: 5px;
    margin-bottom: 10px;
}

.player-name {
    font-size: 25px;
    text-decoration: underline;
}

#history-title {
    font-size: 25px;
    text-decoration: underline;
}